@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  input[type="number"],
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: none;
    -moz-appearance: textfield;
  }
}